<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <title>HSL Kuljettajaohjeet</title>
    <!-- Piwik -->
    <script type="text/javascript">
        var _paq = _paq || [];
        // tracker methods like "setCustomDimension" should be called before "trackPageView"
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//piwik.digitransit.fi/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '20']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <noscript><p><img src="//piwik.digitransit.fi/piwik.php?idsite=20&rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function(){
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        text: "rgb(85,85,85)",
                        "background": "rgb(255, 255, 255)"
                    },
                    "button": {
                        "background": "rgb(0, 122, 201)"
                    }
                },
                "content": {
                    "message": "Käytämme evästeitä palveluidemme kehitykseen. Käyttämällä sivustoa hyväksyt evästeiden käytön.",
                    "dismiss": "OK",
                    "link": "Käyttöehdot",
                    "href": "https://www.hsl.fi/kayttoehdot"
                }
            })});
    </script>
    <!-- End Cookie Consent Code -->
</head>
<body>
    <noscript>
        We have detected that Javascript is disabled. This application requires JavaScript to be enabled.
        Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions on how to
        enable JavaScript in your web browser</a>.
    </noscript>
</body>
</html>