@import url(https://static.hsldev.com/fonts/684288/83817D19D44B86613.css);

body {
  margin: 0px;
}
body,
body * {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--fontFamily);
  color: var(--fontColor);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h3 {
  font-weight: 500;
  margin-top: 0;
}

button:focus {
  outline: 0;
}
