:root {
  --fontFamily: "Gotham Rounded SSm A", "Gotham Rounded SSm B", sans-serif;

  --contentContainerPadding: 20px 15px 20px 15px;
  --contentElementPadding: 10px 10px 10px 10px;
  --contentWrapperMargin: 0px 0px 15px 0px;
  --mainTextSize: 16px;
  --helpTextSize: 14px;

  --backgroundLightGray: #eef1f3;
  --fontColor: rgb(20, 20, 20);
  --busBlue: rgb(0, 122, 201);
  --tramGreen: rgb(0, 152, 95);
  --lrailAzure: #0098A1;
  --trunkOrange: #ff6319;
  --lightGray: rgb(221, 222, 220);
  --mediumGray: rgb(102, 102, 102);
  --warningRed: rgb(220, 4, 81);

  --extraSmall: 400px;
  --small: 768px;
}

button.noStyle {
  border: none;
  background: none;
  padding: 0 0 0 0;
  cursor: pointer;
}

@media print {
  :root {
    --mainTextSize: 10px;
    --helpTextSize: 6px;
  }
}
