@value pageMargin, contentBoxPadding, borderRadius, backgroundLight from "styles/common.css";

.root {
	background-color: backgroundLight;
	padding: 30px pageMargin 20px pageMargin;
}

.contentBox {
	background-color: white;
	padding: contentBoxPadding;
	border-radius: borderRadius;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
