@value busBlue, contentContainerPadding from "styles/common.css";

.root {
  height: 150px;
  padding: contentContainerPadding;
  background-color: busBlue;
  color: white;
}

.logo img {
  height: 80px;
}

.sectionTitle {
  color: white;
}
