@value busBlue, extraSmall, small, medium from "styles/common.css";

.root {
	min-height: 162px;
}

.logo {
	float: left;
	padding: 20px 0 0 0;
}

.logo img {
    height:78px;
}

.sectionTitle {
	float: left;
	color: busBlue;
    overflow: hidden;
    margin: 0;
    padding: 15px 0;
    font-size: 24px;
}

@media extraSmall {
	.root {
		min-height: 120px;
	}

	.logo {
	    padding: 21px 0;
	}

	.sectionTitle {
	    padding: 45px 20px;
	    font-size: 24px;
	}
}


@media small {
	.root {
		min-height: 204px;
	}
	.logo {
		padding: 48px 0;
	}
	.logo img {
		height:108px;
	}
    .sectionTitle {
    	padding: 80px 40px;
        font-size: 36px;
    }
}
@media medium {
    .sectionTitle {
    	padding: 72px 40px;
        font-size: 48px;
    }
}