.root {
  padding: var(--contentContainerPadding);
}

.rootMobile {
  overflow: hidden;
}

.button {
  color: #fff;
  text-align: center;
  font-size: 1rem;
  border-radius: 0;
  background-color: var(--busBlue);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  line-height: normal;
  width: 350px;
  transition: 0.2s;
  margin-right: 15px;
  border-radius: 5px;
}

.buttonMobile {
  height: 40px;
}

.disabled {
  background-color: #b1b0b0;
  cursor: default;
  pointer-events: none;
  transition: 0.2s;
}

.button:hover {
  background-color: rgb(0, 109, 182);
}

.buttonContainer {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background-color: #eef1f3;
  padding: 15px;
  border-top: 1px solid #dedede;
}

.buttonContainerMobile {
  flex-direction: column;
}

.divider {
  margin: 10px;
  border-bottom: 1px solid #dedede;
}

.selectedLineLabels {
  transition: 0.5s;
  display: flex;
}

.lineNumber {
  font-size: 24px;
  font-weight: 600;
}

.bus {
  color: rgb(0, 122, 201);
}

.tram {
  color: rgb(0, 152, 95);
}

.row {
  display: flex;
  align-items: baseline;
}

.linesTitle {
  margin-top: 5px;
  margin-right: 10px;
}

.comma {
  font-size: 24px;
}
