@value contentWrapperMargin, tramGreen, busBlue from "styles/common.css";

.lineIconWrapper:first-child {
	display: flex;
	align-items: center;
}

.lineIconWrapper > * {
	margin-top: 0px;
	margin-bottom: 0px;
}

.lineIconWrapper > svg {
	flex: 0 0 24px;
}

.lineNumber {
	font-size: 24px;
	font-weight: 600;
	margin-right: 12px;
	margin-left: 8px;
}

.bus {
	color: busBlue;
}

.tram {
	color: tramGreen;
}
