@value busBlue from "styles/common.css";

.titleWrapper {
	vertical-align: baseline;
	margin-bottom:24px;
	width:100%;
}

.titleWrapper > * {
	margin-top: 0px;
	margin-bottom: 0px;
	display: inline-block;
}

.titleRouteNumber {
	margin-left:8px;
	margin-right:12px;
	color: busBlue;
}

.contentWrapper {
	width:100%;
	display:flex;
}

.mapContainer {
   flex:3;
}

.filterContainer {
	flex:1;
}
