@value background, white, busBlue from "styles/common.css";

.map {
	height: 400px;
	overflow:hidden;
}

.stopIcon {
    background-color:white;
    height:18px;
    width:18px;
    border-radius: 18px;
    opacity:0.5;
}

.direction1 {
    border: solid 2px busBlue;
}

.direction2 {
    border: solid 2px black;
}
