@value small, medium, pageMargin, background, white, busBlue, warningRed from "styles/common.css";

.root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.mapContainer {
    margin-bottom: pageMargin;
    flex: 0 0 100%;
    display: flex;
}

.filterContainer {
    flex: 0 0 100%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 350px;
    height: 100%;
}

.filterContainer h3 {
    margin-top: 0px;
    padding-left: pageMargin;
}

.filterContainerFullScreen {
    max-height: calc(100vh - 100px);
    overflow-y: auto; 
}

.map {
    flex: 1;
    height: 400px;
    overflow: hidden;
}

.stopIcon {
    background-color: white;
    border-radius: 24px;
    opacity: 0.7;
}

.direction1 {
    border: solid 2px busBlue;
}

.direction2 {
    border: solid 2px warningRed;
}

.hidden {
    display: none;
}

@media small {
    .root {
        flex-direction: row;
    }
    .mapContainer {
        margin-bottom: 0px;
        flex: 3;
    }
    .filterContainer {
        flex: 2;
    }
}

@media medium {
    .mapContainer {
        flex: 7;
    }
    .filterContainer {
        flex: 3;
    }
}