.root {
  flex: 0 0 100%;
  max-width: 360px;
  box-sizing: border-box;
}

.filterContainerFullScreen {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px 10px 20px;
}

.filterContainerHideFilter {
  padding: 0;
}

.filterContainerHideFilter > button {
  padding: 10px 20px 10px 20px;
  overflow: hidden;
}

.filterItemsWrapper {
  padding: var(--contentElementPadding);
}

.dateLabel {
  color: var(--mediumGray);
  font-weight: 500;
  font-size: 16px;
  margin: 0 0 5px;
}

.hidden {
  display: none;
}

@media print {
  .root {
    border: none;
    font-size: 8px;
  }

  .noPrint {
    display: none;
  }
}
