.root {
  width: 100%;
  max-width: 100%;
  overflow-y: auto;
}

.elementContainer {
  padding: var(--contentContainerPadding);
}

.headerContainer {
  display: flex;
  align-items: baseline;
}

.removeButtonContainer {
  font-size: 30px;
}

.icon {
  transition: 0.1s;
  stroke: #868686;
  cursor: pointer;
}

.icon:hover {
  transition: 0.1s;
  stroke: rgb(0, 109, 182);
  cursor: pointer;
}

.iconDisabled {
  display: none;
}

@media (min-width: 768px) {
  .root {
    overflow-y: auto;
    min-width: 400px;
    max-width: 400px;
    max-height: 100vh;
  }
}
