@value small, contentContainerPadding from "styles/common.css";

.root {
	width:100%;
	max-width:100%;
	max-height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.elementContainer {
	padding: contentContainerPadding;
}

@media small {
	.root {
		overflow-y: scroll;
		min-width:400px;
		max-width:400px;
	}
}
