.root {
  display: flex;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.root p {
  margin: 0 0 0 0;
  text-align: start;
}

.infoContainer {
  margin-left: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.textTitle {
  font-size: var(--mainTextSize);
  font-weight: 600;
  width: 68px;
  flex-wrap: wrap;
}

.textPrimary {
  text-align: left;
  font-size: var(--mainTextSize);
  margin-bottom: 8px !important;
}

.textAdditional {
  text-align: left;
  font-size: var(--helpTextSize);
  color: var(--mediumGray);
  margin-bottom: 8px !important;
}

.textDuration {
  display: flex;
  white-space: nowrap;
  font-size: var(--helpTextSize);
}

.additionalInfoContainer {
  place-content: space-between;
  display: flex;
}

.timingStopIcon {
  width: 20px;
  margin-left: 10px;
  float: right;
}

@media (min-width: 400px) {
  .textDuration {
    display: flex;
  }

  .textAdditional {
    text-align: left;
    margin-bottom: 0 !important;
  }

  .fullScreen > .textAdditional {
    margin-bottom: 8px !important;
  }

  .fullScreen > .textDuration {
    position: static;
  }
}

@media print {
  .root {
    margin: 0px;
    padding: 3px;
    border-bottom: 1px solid gray;
  }

  .timingStopIcon {
    width: 10px;
    padding-top: 2px;
  }
}
